.profile {
    display: flex;
    justify-content: space-around;
    margin: 0 3vw;
}

.description {
    width: 35vw;
}

.description-text {
    color: #999;
    font-size: 1.75vw;
    margin-top: 2vw;
    line-height: 65px;
}

.icons {
    display: flex;
}

.icons li {
    margin: 0 2vw;
}

.icons img {
    width: fit-content;
    border-radius: 15px;
    display: block;
} 

li span {
    font-size: 1.5vw;
    display: block;
    text-align: center;
    margin-top: 0.5vw;
    color: #999;
}

.stats {
    color: #CCC;
    font-weight: bold;
}

.image img{
    max-width: 50vw;
}

.name-price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.name-price h2 {
    font-size: 2vw;
}