body {
    background-color: #181A1B;
}

h1, h2 {
    color: #CCCCCC;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 0;
}

li {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    display: block;
}

.navbar h1, h2 {
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;

}

.navbar h1 {
    font-style: italic;
    font-size: 2.5vw;
}

.front-cover {
    position: relative;
}
.front-cover .cover-img {
    width: 100%;
}

.front-cover .cover-text {
    position: absolute;
    font-size: 2.75vw;
    top: 25%;
    margin-left: 5%;
}