body {
    background-color: #181A1B;
}

h1, h2 {
    color: #CCCCCC;
}

.navbar h1, h2 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;

}

.navbar h1 {
    font-style: italic;
    font-size: 45px;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 0;
}

li {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    display: block;
}