body {
    background-color: #181A1B;
}

h1, h2 {
    color: #CCCCCC;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: block;
}

.navbar h1, h2 {
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;

}

.navbar h1 {
    font-style: italic;
    font-size: 2.5vw;
}

.front-cover {
    position: relative;
}
.front-cover .cover-img {
    width: 100%;
}

.front-cover .cover-text {
    position: absolute;
    font-size: 2.75vw;
    top: 25%;
    margin-left: 5%;
}

.models {
    display: flex;
    justify-content: space-around;
}

.models img {
    width: 18vw;
    display: block;
}

.models span {  
    display: flex;
    justify-content: center;
    font-size: 2vw; 
}

.models a:visited {
    color: #CCCCCC;
}

.build {
    display: flex;
    justify-content: center;
}
.build a {
    text-align: center;
    width: fit-content;
    padding: 1vw 1.5vw 1vw 1.5vw; 
    margin: 1.5vw;
    font-size: 1.5vw;
    background-color: #CCCCCC;
    color: #181A1B;
    border-radius: 25px;
}