body {
    background-color: #181A1B;
}

h1, h2 {
    color: #CCCCCC;
}

.navbar h1, h2 {
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
}